:root {
    --primaryColor: black;
    --secondaryColor: white;
}
body, button {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
}
#body {
    margin-bottom: 15px;
    width: 150px;
    height: 120px;
    background-color: var(--secondaryColor);
    box-shadow: 5px 5px 5px 0px var(--secondaryColor);
}

h1.title {
    background: var(--primaryColor);
    color: var(--secondaryColor);
    font-family: 'Norican';
    font-size: 400%;
}
