/* navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dimgray;
    position: sticky;
    top: 0;
}
.navbar ul {
    display: flex;
    list-style: none;
    padding: 20px 0px;
}
.navbar ul li {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all 0.5ms ease;
}
.navbar ul li a:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

/* Home section */
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(0, 0, 0.5);
    height: 840px;
}
#home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url(bimg.jpg) no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}
.main {
    display: flex;
    margin: 5%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
/*    border: 1px solid white; */
}
.main div {
    display: flex;
    margin: 5%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* All around */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}
